body {
  margin: 0;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.horizontal {
  display: flex;
  height: 100%;
}

.main {
  flex: 1;
  height: 100%;
  font-size: 1em !important;
}
