@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.horizontal {
  display: flex;
  height: 100%;
}

.main {
  flex: 1;
}

.left {
  width: 200px;
}

.editor {
  height: 100%;
}

.editor > div {
  font-size: inherit;
  height: 100%;
}

.directory-listing {
  border-right: 1px solid lightgray;
  overflow: auto;
}

.directory-listing ul {
  list-style-type: none;
  padding-left: 1.5em;
}

.directory-listing .name {
  cursor: pointer;
  white-space: nowrap;
}

.directory-listing .icon {
  width: 1.5em;
}
