@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.horizontal {
  display: flex;
  height: 100%;
}

.main {
  flex: 1;
}

.editor {
  height: 100%;
}

.editor > div {
  font-size: inherit;
  height: 100%;
}

.directory-listing {
  padding: 0 1.5em 0 2em;
}

.directory {
  color: blue;
}

.unfolded {
  color: red;
}
